/*20241216_0728*/
  /* Replace most of the fonts */
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
*:not(pre, pre *, code, .far, .fa, [class*="fa-"], .glyphicon, [class*="vjs-"], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*="mu-"], .glyphicon, [class*="icon"], .gog-icons, .google-material-icons) {
    font-family: Ubuntu !important;
    font-weight: 500;
    text-shadow: 0px 0px 5px black;
}

  /* Animations declared */
@keyframes rulerSnap{
  50% {transform: rotate(20deg);}
}
@keyframes wobbling{
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}
@keyframes wobbling2{
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}
@keyframes violetFlash{
  0% {background-color: rgba(0,0,0,0);}
  20% {background-color: rgba(150,0,200,1);}
  40% {background-color: rgba(0,0,0,0);}
}
@keyframes blinking{
  0%, 40% {opacity:0.05;}
  50% {opacity:0.4;}
  60%, 100% {opacity:0.05;}
}
@keyframes waveClipPath{
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

  /* Chat Window */
.chat-log-container { /* Incoming text messages */
  font-size: 20pt !important;
  padding:0px, 0px, 0px, 0px !important;
  overflow: hidden !important;
  max-height: min(800px, 50vh) !important;
  max-width: min(800px, 50vw) !important;
}
.chat-container{ /* Chat box */
  padding:0px, 0px, 0px, 0px !important;
  background:none !important;
  position: absolute !important;
  left: 15% !important;
  bottom: 25% !important;
}
.chat-input { /* Written text */
 font-size: 20pt !important;
 padding:0px, 0px, 0px, 0px !important;
}
.chat-message-name { /*Message author*/
  font-size: 15pt !important;
}
input::placeholder{ /* Press T to write placeholder text */
    font-family: Ubuntu !important;
    font-size: 16px !important;
    text-transform: capitalize;
    visibility: hidden;
}
.chat-container.wrinkledPaper.up, input.dialog-text-input.wrinkledPaper.chat-input, .chat-message-container, .chat-message-content{
  padding:0px, 0px, 0px, 0px !important;
  background:none !important;
}

 /* Menus */
div.class-selection-image-background.wrinkledPaper { /* Class select icon backgrounds */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h3.dialogTitle.blueNight { /* Class names */
    text-transform: capitalize;
    animation: wobbling 1s ease-in-out infinite;
}

div.dialog.wrinkledPaper { /* Background of all menu windows */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h3.settings-group-header { /* Settings category separators */
    background: transparent;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dialog-checkbox-input, .dialog-toggle-input, .dialog-range-input, input.dialog-range-input[type="range"] { /* Toggle buttons */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

button.dialog-button.blueNight.wrinkledPaper {
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15%;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.mainInfoText { /* Click to Join */
    padding: 0px;
    margin: 0px;
    top: 94%;
    text-align: center;
}

div.main-menu-button-text.whiteBigText.blueNight, h2.dialogTitle.blueNight, h2.paged-view-page-header-title, .dialog-text-input, select.dialog-select-input.blueNight {
    text-transform: capitalize;
}

#mainMenuLogo { /* Narrow One Logo */
    scale: 40% !important;
    transform-origin: center !important;
    top: 35% !important; left: -2% !important;
    opacity: 80% !important;
}

.main-menu-promo-banner-container { /* Main Menu Banner */
    scale: 80% !important;
    transform-origin: top !important;
    top: 75% !important; left: -2% !important;
    opacity: 80% !important;
}

div.main-menu-username.whiteBigText { /* Title Screen Username */
    font-weight: 800 !important;
    background-image: linear-gradient(to right, rgba(200,0,200,1),rgba(150,0,150,0.4), rgba(0,0,0,0));
    animation: wobbling2 1s ease-in-out infinite;
}

.scoreOffsetNotificationAnim { /* Kill Notifications */
    text-transform: capitalize;
    scale: 80% !important;
}

 /* In-Game UI */
.weaponSelectionDialog{
    transform-origin: top right !important;
    scale: 150% !important;
    top: 2% !important; left: 91% !important;
  }
  .playersListContainer, .playersListTeamTable, .playersListItem{ /*Players Scoreboard background*/
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
  }
  .playersListTeam.wrinkledPaper{ /*Players Scoreboard (rows background and text)*/
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
  }
  .playersListContainer thead{ /* Scoreboard: Table Head */
    opacity: 75% !important;
    clip-path: polygon(0 50%, 10% 0, 98% 10%, 100% 90%, 90% 100%, 15% 100%, 0 50%) !important;
  }
  .gameOverStatsTable, .gameoverStatsContainer{ /* End game stats screen */
    filter: saturate(25%) !important;
    opacity: 80% !important; 
  }
  .flag-score-container, .health-ui-container, .notificationIconsUiContainer.topleft{ /* Centering the HUD */
    transform-origin: center !important;
    opacity: 60% !important;
    position: relative !important;
    top: -20% !important; left: 20% !important;
  }
  .notificationIconsUiContainer.topleft{ /* Flags status */
    top: 50% !important; left: 32% !important;
  }
  .notificationIconsUiContainer.centerbig{
    opacity: 40% !important;
  }
  .flag-score-container{ /* Flag Score box */
    position: relative !important;
    top: 70.4% !important; left: 58.6% !important;
    width: 6% !important;
    padding: 0px 0px 0px 80px !important; margin: 0px !important;
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
    rotate:-70deg !important;
    z-index:2 !important;
  }
  .flag-score-item{ /* Flag Score diamonds */
    position: relative !important;
    padding: 0px !important; margin: 25px 0px 0px 0px !important;
    gap: 10px !important;
  }
  .flag-score-icon{ /* Flag Score shield icon */
    display: none !important;
  }
  .health-ui-container.wrinkledPaper{ /* Health Bar box */
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
    position: relative !important;
    padding: 0px !important; margin: 0px !important;
    width: 15% !important; height: 10% !important;
    top: 50% !important; left: 57% !important;
    rotate: -70deg !important;
    z-index: 3 !important;
  }
  div.health-ui-bar-container { /* Health Bar */
    position: relative !important;
    padding: 0px !important; margin: 0px !important;
    bottom: -60% !important; left: -32% !important;
    scale: 80% 120% !important;
  }
  .health-ui-heart{ /* Health Bar icon */
    position: relative !important;
    padding: 0px !important; margin: 0px !important;
    width: 15% !important; height: 10% !important;
    scale: 250% !important;
    rotate:70deg !important;
    z-index: -1 !important;
  }
  .crosshair-container{ /* Crosshair box */
    scale: 60% !important;
  }
  .crosshair-line{ /* Crosshair */
    /* display: none; */
  }
  .flagReturnProgressContainer{
    transform-origin: center !important;
    top: 0% !important; left: 0% !important;
    transform: translate(-15%, 100%) !important;
    scale: 300% !important;
  }
  

  /* Misc */
.gameAd.desktop, .gameAd.mobile{
  display: none !important;
}
.touchListener.focus{cursor: default;} /* Fixes invisible mouse while pointerLockChange is disabled. */
div.ownedCoinsContainer.wrinkledPaper.allow-select {
  display: none !important;
}
.dialogCurtain, div.fullScreen{ /* Screen dimming */
  background: none !important;
}
